body {
    background-color: #736ab7;
    color: #b6b2df;
    font: 14px 'Poppins', sans-serif;
    margin: 0;
}
h1, h2, h3, h4 {
    margin: 0;
}
h1 {
    color: white;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.8;
}
h2 {
    color: white;
    font-size: 18px;
    margin-bottom: 5px;
}
h3 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 2px;
}
h4 {
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}
hr {
    background-color: #00ccff;
    border: 0.5px solid #00ccff;;
    color: #00ccff;
    float: left;
    height: 0.5px;
    margin-bottom: 9px;
    width: 16px;
}
img {
    height: auto;
    max-width: 100%;
}
article {
    padding: 0 8px;
}
p {
    clear: both;
}
span {
    font-size: 9px;
}
header {
    background: linear-gradient(0.25turn, #3366ff, #00ccff);
    text-align: center;
}
main {
    padding: 40px 24px;
}
.planet {
    background-color: #333366;
    border-radius: 8px;
    box-shadow: 0 12px 5px -2px #665ea3;
    margin-bottom: 30px;
    margin-left: 46px;
    padding: 21px 21px 21px 75px;
    position: relative;
}
.planet > img {
    height: auto;
    position: absolute;
    left: -46px;
    top: 18px;
    width: 92px;
}
.planet h1 {
    color: white;
}
.meta-container {
    clear: both;
    display: flex;
}
.meta {
    display: flex;
    flex-grow: 1;
}
.meta img {
    height: 12px;
    margin-right: 9px;
    width: auto;
}
.details {
    padding: 160px 24px 0;
}
.bgimg,
.gradient {
    left: 0;
    position: absolute;
    width: 100%;
}
.bgimg {
    background-image: url('https://c1.staticflickr.com/9/8105/8497927473_2845ae671e_b.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    top: 0;
}
.gradient {
    background: linear-gradient(transparent, #736ab7);
    height: 155px;
    top: 146px;
}
.details .planet {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    margin-left: inherit;
    padding-left: inherit;
    padding-top: 48px;
}
.details .planet > img {
    left: inherit;
    top: -55px;
}
.details .meta-container {
    justify-content: space-between;
    width: 160px;
}
.details .meta {
    flex-grow: inherit;
}