body {
    color: #b6b2df;
    font: 14px 'Poppins', sans-serif;
    margin: 0;
}
h1, h2, h3 {
    margin: 0;
}
header {
    background: linear-gradient(0.25turn, #3366ff, #00ccff);
    color: white;
    text-align: center;
}
main {
    background-color: #736ab7;
}
.planet {
    background-color: #333366;
    margin: 30px;
}
.planet img {
    height: auto;
    position: relative;
    width: 95px;
}
.planet h1 {
    color: white;
}